<a id="_home"></a>

# <span style="color:#bcff8f">Python Notes</span>

<span style="color:#858585"><b><u>Developer</u></b>:  Patrick Weatherford</span><br><br>


<!-- COLORS
# Green:          <span style="color:#bcff8f"></span>
## Purple:        <span style="color:#c58fff"></span>
### White:        <span style="color:white"></span> 
#### Grey:        <span style="color:#858585"></span>
Hyperlink:        <span style="color:#6185c9"></span>
Home navigation:  [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_home)
dotted line:      <hr style="border:dotted 1px">
-->

***

# <span style="color:#bcff8f">Table of Contents</span>

<a id="_basics2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Basics</span>](#_basics)
    - #### [<span style="color:white;font-size:14px">Variable Assignment</span>](#_variable_assignment)
    - #### [<span style="color:white;font-size:14px">Input Function</span>](#_input_function)
    - #### [<span style="color:white;font-size:14px">F-Strings</span>](#_f-strings)
    - #### [<span style="color:white;font-size:14px">Operators</span>](#_operators)
    - #### [<span style="color:white;font-size:14px">Change Data Type</span>](#_change_data_type)
    - #### [<span style="color:white;font-size:14px">Dates & Times</span>](#_dates_&_times)
        - ##### [<span style="color:#858585;font-size:13px">Date from Parts</span>](#_date_from_parts)
        - ##### [<span style="color:#858585;font-size:13px">String to Date</span>](#_string_to_date)
        - ##### [<span style="color:#858585;font-size:13px">Date to String</span>](#_date_to_string)
        - ##### [<span style="color:#858585;font-size:13px">Time Between Dates</span>](#_time_between_dates)
    - #### [<span style="color:white;font-size:14px">if, elif, else</span>](#_if,_elif,_else)
    - #### [<span style="color:white;font-size:14px">Help Functions</span>](#_help_functions)
        - ##### [<span style="color:#858585;font-size:13px">dir()</span>](#_dir())
        - ##### [<span style="color:#858585;font-size:13px">help()</span>](#_help())

<a id="_loops2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Loops</span>](#_loops)
    - #### [<span style="color:white;font-size:14px">For Loop</span>](#_for_loop)
    - #### [<span style="color:white;font-size:14px">While Loop</span>](#_while_loop)
    - #### [<span style="color:white;font-size:14px">Nested Loop</span>](#_nested_loop)
    - #### [<span style="color:white;font-size:14px">List Comprehension</span>](#_list_comprehension)
    - #### [<span style="color:white;font-size:14px">Enumerate</span>](#_enumerate)

<a id="_functions2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Functions</span>](#_functions)
    - #### [<span style="color:white">Creating Functions</span>](#_creating_functions)
        - ##### [<span style="color:#858585;font-size:13px">Required Parameter</span>](#_required_parameter)
        - ##### [<span style="color:#858585;font-size:13px">Optional Default Parameter</span>](#_optional_default_parameter)
        - ##### [<span style="color:#858585;font-size:13px">**kwargs</span>](#_**kwargs)
        - ##### [<span style="color:#858585;font-size:13px">*args</span>](#_*args)
    - #### [<span style="color:white">if \_\_name__ == \"\_\_main__\"</span>](#_if__name__=__main__)

<a id="_lists2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Lists</span>](#_lists)
    - #### [<span style="color:white;font-size:14px">Creating Lists</span>](#_creating_lists)
    - #### [<span style="color:white;font-size:14px">Accessing List Elements</span>](#_accessing_list_elements)
    - #### [<span style="color:white;font-size:14px">Modifying List</span>](#_modifying_list)
        - ##### [<span style="color:#858585;font-size:13px">Adding Element</span>](#_adding_list_element)
        - ##### [<span style="color:#858585;font-size:13px">Removing Element</span>](#_removing_list_element)
        - ##### [<span style="color:#858585;font-size:13px">Modifying Element</span>](#_modifying_list_element)
        - ##### [<span style="color:#858585;font-size:13px">Deleting List</span>](#_deleting_list)
    - #### [<span style="color:white;font-size:14px">Analyzing List</span>](#_analyzing_list)
        - ##### [<span style="color:#858585;font-size:13px">Length of List</span>](#_length_of_list)
        - ##### [<span style="color:#858585;font-size:13px">Sum of List</span>](#_sum_of_list)
        - ##### [<span style="color:#858585;font-size:13px">Looping Through List</span>](#_looping_through_list)

<a id="_tuples2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Tuples</span>](#_tuples)
    - #### [<span style="color:white;font-size:14px">Creating Tuples</span>](#_creating_tuples)
    - #### [<span style="color:white;font-size:14px">Accessing Tuple Elements</span>](#_accessing_tuple_elements)
    - #### [<span style="color:white;font-size:14px">Modifying Tuple</span>](#_modifying_tuple)
        - ##### [<span style="color:#858585;font-size:13px">Adding Element</span>](#_adding_tuple_element)
        - ##### [<span style="color:#858585;font-size:13px">Removing Element</span>](#_removing_tuple_element)
        - ##### [<span style="color:#858585;font-size:13px">Modifying Element</span>](#_modifying_tuple_element)
        - ##### [<span style="color:#858585;font-size:13px">Deleting Tuple</span>](#_deleting_tuple)
    - #### [<span style="color:white;font-size:14px">Analyzing Tuple</span>](#_analyzing_tuple)
        - ##### [<span style="color:#858585;font-size:13px">Length of Tuple</span>](#_length_of_tuple)
        - ##### [<span style="color:#858585;font-size:13px">Looping Through Tuple</span>](#_looping_through_tuple)

<a id="_sets2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Sets</span>](#_sets)
    - #### [<span style="color:white;font-size:14px">Creating Sets</span>](#_creating_sets)
    - #### [<span style="color:white;font-size:14px">Accessing Set Elements</span>](#_accessing_set_elements)
    - #### [<span style="color:white;font-size:14px">Modifying Set</span>](#_modifying_set)
        - ##### [<span style="color:#858585;font-size:13px">Adding Element</span>](#_adding_set_element)
        - ##### [<span style="color:#858585;font-size:13px">Removing Element</span>](#_removing_set_element)
        - ##### [<span style="color:#858585;font-size:13px">Modifying Element</span>](#_modifying_set_element)
        - ##### [<span style="color:#858585;font-size:13px">Deleting Set</span>](#_deleting_set)
    - #### [<span style="color:white;font-size:14px">Analyzing Set</span>](#_analyzing_set)
        - ##### [<span style="color:#858585;font-size:13px">Length of Set</span>](#_length_of_set)
        - ##### [<span style="color:#858585;font-size:13px">Sum of Set</span>](#_sum_of_set)
        - ##### [<span style="color:#858585;font-size:13px">Similarities Between Sets</span>](#_similarities_between_sets)
        - ##### [<span style="color:#858585;font-size:13px">Unique Values Between Sets</span>](#_unique_values_between_sets)
        - ##### [<span style="color:#858585;font-size:13px">Unique Differences Between Sets</span>](#_unique_differences_between_sets)
        - ##### [<span style="color:#858585;font-size:13px">Subset vs. Superset</span>](#_subsets_vs_supersets)

<a id="_dictionaries2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Dictionaries</span>](#_dictionaries)
    - #### [<span style="color:white;font-size:14px">Creating Dictionaries</span>](#_creating_dictionaries)
    - #### [<span style="color:white;font-size:14px">Accessing Dictionary Elements</span>](#_accessing_dictionary_elements)
        - ##### [<span style="color:#858585;font-size:13px">Accessing Based on Key</span>](#_accessing_based_on_key)
        - ##### [<span style="color:#858585;font-size:13px">Accessing Based on Value</span>](#_accessing_based_on_value)
    - #### [<span style="color:white;font-size:14px">Modifying Dictionary</span>](#_modifying_dictionary)
        - ##### [<span style="color:#858585;font-size:13px">Adding Element</span>](#_adding_dictionary_element)
        - ##### [<span style="color:#858585;font-size:13px">Removing Element</span>](#_removing_dictionary_element)
        - ##### [<span style="color:#858585;font-size:13px">Modifying Element</span>](#_modifying_dictionary_element)
        - ##### [<span style="color:#858585;font-size:13px">Deleting Dictionary</span>](#_deleting_dictionary)
    - #### [<span style="color:white;font-size:14px">Analyzing Dictionary</span>](#_analyzing_dictionary)
        - ##### [<span style="color:#858585;font-size:13px">Length of Dictionary</span>](#_length_of_dictionary)
        - ##### [<span style="color:#858585;font-size:13px">Sum of Dictionary</span>](#_sum_of_dictionary)
        - ##### [<span style="color:#858585;font-size:13px">Looping Through Dictionary</span>](#_looping_through_dictionary)

<a id="_working_with_files2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Working with Files</span>](#_working_with_files)
    - #### [<span style="color:white;font-size:14px">Text Files</span>](#_text_files)
        - ##### [<span style="color:#858585;font-size:13px">Reading Text File</span>](#_reading_text_file)
        - ##### [<span style="color:#858585;font-size:13px">Creating New Text File</span>](#_creating_new_text_file)
        - ##### [<span style="color:#858585;font-size:13px">Modifying Text File</span>](#_modifying_text_file)
    - #### [<span style="color:white;font-size:14px">Excel Files</span>](#_text_files)
        - ##### [<span style="color:#858585;font-size:13px">Reading Excel File</span>](#_reading_excel_file)
        - ##### [<span style="color:#858585;font-size:13px">Modifying Excel File</span>](#_modifying_excel_file)

<a id="_exception_handling2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Exception Hanling</span>](#_exception_handling)
    - #### [<span style="color:white;font-size:14px">try, then, else, finally</span>](#_try_then_else_finally)

<a id="_classes_2"></a>
- ### [<span style="color:#c58fff;font-size:18px">Classes</span>](#_classes_)
    - #### [<span style="color:white;font-size:14px">Creating a Class</span>](#_creating_a_class)
    - #### [<span style="color:white;font-size:14px">Class Instance Totals</span>](#_class_instance_totals)
    - #### [<span style="color:white;font-size:14px">Regular Methods</span>](#_regular_methods)
    - #### [<span style="color:white;font-size:14px">Class Methods</span>](#_class_methods)
    - #### [<span style="color:white;font-size:14px">Static Methods</span>](#_static_methods)
    - #### [<span style="color:white;font-size:14px">Property Decorators</span>](#_property_decorators)
        - ##### [<span style="color:#858585;font-size:13px">@property</span>](#_@property)
        - ##### [<span style="color:#858585;font-size:13px">@property.setter</span>](#_@property.setter)
        - ##### [<span style="color:#858585;font-size:13px">@property.deleter</span>](#_@property.deleter)
    - #### [<span style="color:white;font-size:14px">Inheritance & Subclasses</span>](#_inheritance_&_subclasses)
    - #### [<span style="color:white;font-size:14px">Method Resolution Order (MRO)</span>](#_method_resolution_order)

<br>

___
___

<br>

<a id='_basics'></a>

# <span style="color:#bcff8f">Basics</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

<hr style="border:dotted 1px">

<a id="_variable_assignment"></a>
<br>

### <span style="color:#c58fff">Variable Assignment</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

In [41]:
var1 = 'Hello world!'
var2 = 10
var3 = 'yo'

print(var1,'\n') # '\' is an special/escape character for string literals
print(var2, var3)

Hello world!

10 yo

<hr style="border:dotted 1px">

<br>
<a id="_input_function"></a>

### <span style="color:#c58fff">Input Function</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

In [13]:
name = input('What is your name? ')

print(f'Hello {name}!')

What is your name?  Patrick

Hello Patrick!

<hr style="border:dotted 1px">

<a id="_f-strings"></a>
<br>

### <span style="color:#c58fff">F-Strings</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)
      
Superior method for formatting a string literal

<span style="font-size:11px">
    <ul>
        <li>Faster than .format()
        <li>Can directly insert expressions
        <li>Better readability
    </ul>
</span>

In [8]:
age = 32
name = 'Patrick' 
nl = '\n'

# Can you single or double quotes
print(f'Hello world, my name is {name}.{nl}I\'m {age} years old.{nl}')

# Using 3 single or double quotes recognizes carriage returns in code
print(f'''Hello world, my name is {name}.
I\'m {age} years old.''')

Hello world, my name is Patrick.
I'm 32 years old.

Hello world, my name is Patrick.
I'm 32 years old.

<hr style="border:dotted 1px">

<a id="_operators"></a>
<br>

### <span style="color:#c58fff">Operators</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

In [12]:
import math

x=10

print(x+1)  # addition
print(x-1)  # subtraction
print(x/3)  # division
print(x//3)  # floor division
print(x%3)  # modulo
print(x**2)  # exponentiation
print(math.sqrt(144))  # square root with math module

11
9
3.3333333333333335
3
1
100
12.0

<hr style="border:dotted 1px">

<a id="_change_data_type"></a>
<br>

### <span style="color:#c58fff">Change Data Type</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

In [17]:
x = 10

str_x = str(x)  # convert to string
int_x = int(x)  # convert to integer
float_x = float(x)  # convert to float

print(f'''str_x: {type(str_x)}
int_x: {type(int_x)}
float_x: {type(float_x)}''')

str_x: <class 'str'>
int_x: <class 'int'>
float_x: <class 'float'>

<hr style="border:dotted 1px">

<a id="_dates_&_times"></a>
<br>

### <span style="color:#c58fff">Dates & Times</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

<b>Format Codes</b><br>
<ul>
    <li>Year
        <ul>
            <li>%y - Year without century as a zero-padded decimal number (00, 01, ..., 99)<br>
            <li>%Y - Year with century as a decimal number (0001, 0002, ..., 2013, 2014)<br>
        </ul>
    <li>Month
        <ul>
            <li>%b - Month as locale's abbv. name (Jan, Feb, ..., Dec)<br>
            <li>%B - Month as locale's full name (January, February, ..., December)<br>
            <li>%m - Month as a zero-padded decimal number (01, 02, ..., 12)<br>
        </ul>
    <li>Week
        <ul>
            <li>%a - Weekday as locale's abbv. name (Sun, Mon, ...)<br>
            <li>%A - Weekday as locale's full name (Sunday, Monday, ...)<br>
            <li>%w - Weekday as a decimal number, 0-Sun : 6-Sat<br>
            <li>%U - Week number of the year (Sunday as the first day of the week) (All days in a new year preceding first Sunday are in week 0) (00, 01, ..., 53)<br>
            <li>%W - Week number of the year (Monday as the first day of the week) (All days in a new year preceding first Monday are in week 0) (00, 01, ..., 53)<br>
        </ul>
    <li>Day/Time
        <ul>
            <li>%j - Day of the year as a zero-padded decimal number (001, 002, ..., 366)<br>
            <li>%d - Day of the month as a zero-padded decimal (01, 02, ..., 31)<br>
            <li>%c - Locale's appropriate date and time representation (Tue Aug 16 21:30:00 1988)<br>
            <li>%x - Locale's appropriate date representation (08/16/1988)<br>
            <li>%X - Locale's appropriate time representation (21:30:00)<br>
        </ul>
    <li>Hour
        <ul>
            <li>%H - Hour (24-hour clock) as a zero-padded decimal number (01, 02, ..., 23)<br>
            <li>%I - Hour (12-hour clock) as a zero-padded decimal number (01, 02, ..., 12)<br>
            <li>%p - Locale's equivalent of either AM or PM<br>
            <li>%z - UTC offset in the form +-HHMM{SS{.ffffff}} (empty string if the object is naive) (empty), +0000, -0400, +1030<br>
            <li>%Z - Time zone name (epty string if the object is naive) (empty), UTC, GMT<br>
        </ul>
    <li>Minute
        <ul>
            <li>%M - Minute as a zero-padded decimal number (00, 01, ..., 59)<br>
        </ul>
    <li>Second/Micro
        <ul>
            <li>%S - Second as a zero-padded decimal number (00, 01, ..., 59)<br>
            <li>%f - Microsecond as a decimal number, zero-padded to 6 digits (000000, 000001, ..., 999999)<br>
        </ul>
</ul>


<a id="_date_from_parts"></a>

#### <span style="color:white">Date From Parts</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

In [74]:
import datetime

# date from parts using .time() method
date_var = datetime.datetime(2021, 12, 15, 13, 55, 21, 5)  # (hour, min, sec, microsec)

print(date_var)
print(date_var.year)  # Get year part of date object
print(date_var.month)  # Get month part of date object
print(date_var.day)  # Get day part of date object
print(date_var.hour)  # Get hour part of date object
print(date_var.minute)  # Get minute part of date object
print(date_var.second)  # Get second part of date object
print(date_var.microsecond)  # Get microsecond part of date object

2021-12-15 13:55:21.000005
2021
12
15
13
55
21
5


<a id="_string_to_date"></a>

#### <span style="color:white">String to Date</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

In [66]:
import datetime as dt

dttm_str = '12/14/2021 11:59 PM'

dttm = dt.datetime.strptime(dttm_str, '%m/%d/%Y %I:%M %p')

print(f"{dttm}  , type: {type(dttm)}")

2021-12-14 23:59:00  , type: <class 'datetime.datetime'>


<a id="_date_to_string"></a>

#### <span style="color:white">Date to String</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

In [69]:
import datetime as dt

today = dt.datetime.now()

today_str = dt.datetime.strftime(today, '%m/%d/%Y %I:%M %p')

print(f"{today_str}  , type: {type(today_str)}")

12/15/2021 12:15 AM  , type: <class 'str'>


<a id="_time_between_dates"></a>

#### <span style="color:white">Time Between Dates</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

In [93]:
import datetime as dt
from dateutil.relativedelta import relativedelta

dob = dt.datetime.strptime('10/18/1989 1:23 AM', '%m/%d/%Y %I:%M %p')
now = dt.datetime.now()

time_delta = now - dob

# Using datetime module
print(time_delta.days)
print(time_delta.seconds)


# Using dateutil to get exact age
rd = relativedelta(now, dob)

print(f"Hello I'm Patrick and I'm {rd.years} years, {rd.months} months, {rd.weeks} weeks, {rd.days} days, and {rd.seconds} seconds old")

11745
83548
Hello I'm Patrick and I'm 32 years, 1 months, 3 weeks, 26 days, and 28 seconds old

In [87]:
help(relative_delta)

Help on relativedelta in module dateutil.relativedelta object:

class relativedelta(builtins.object)
 |  relativedelta(dt1=None, dt2=None, years=0, months=0, days=0, leapdays=0, weeks=0, hours=0, minutes=0, seconds=0, microseconds=0, year=None, month=None, day=None, weekday=None, yearday=None, nlyearday=None, hour=None, minute=None, second=None, microsecond=None)
 |
 |  The relativedelta type is designed to be applied to an existing datetime and
 |  can replace specific components of that datetime, or represents an interval
 |  of time.
 |
 |  It is based on the specification of the excellent work done by M.-A. Lemburg
 |  in his
 |  `mx.DateTime <https://www.egenix.com/products/python/mxBase/mxDateTime/>`_ extension.
 |  However, notice that this type does *NOT* implement the same algorithm as
 |  his work. Do *NOT* expect it to behave like mx.DateTime's counterpart.
 |
 |  There are two different ways to build a relativedelta instance. The
 |  first one is passing it two date/datetime classes::
 |
 |      relativedelta(datetime1, datetime2)
 |
 |  The second one is passing it any number of the following keyword arguments::
 |
 |      relativedelta(arg1=x,arg2=y,arg3=z...)
 |
 |      year, month, day, hour, minute, second, microsecond:
 |          Absolute information (argument is singular); adding or subtracting a
 |          relativedelta with absolute information does not perform an arithmetic
 |          operation, but rather REPLACES the corresponding value in the
 |          original datetime with the value(s) in relativedelta.
 |
 |      years, months, weeks, days, hours, minutes, seconds, microseconds:
 |          Relative information, may be negative (argument is plural); adding
 |          or subtracting a relativedelta with relative information performs
 |          the corresponding arithmetic operation on the original datetime value
 |          with the information in the relativedelta.
 |
 |      weekday:
 |          One of the weekday instances (MO, TU, etc) available in the
 |          relativedelta module. These instances may receive a parameter N,
 |          specifying the Nth weekday, which could be positive or negative
 |          (like MO(+1) or MO(-2)). Not specifying it is the same as specifying
 |          +1. You can also use an integer, where 0=MO. This argument is always
 |          relative e.g. if the calculated date is already Monday, using MO(1)
 |          or MO(-1) won't change the day. To effectively make it absolute, use
 |          it in combination with the day argument (e.g. day=1, MO(1) for first
 |          Monday of the month).
 |
 |      leapdays:
 |          Will add given days to the date found, if year is a leap
 |          year, and the date found is post 28 of february.
 |
 |      yearday, nlyearday:
 |          Set the yearday or the non-leap year day (jump leap days).
 |          These are converted to day/month/leapdays information.
 |
 |  There are relative and absolute forms of the keyword
 |  arguments. The plural is relative, and the singular is
 |  absolute. For each argument in the order below, the absolute form
 |  is applied first (by setting each attribute to that value) and
 |  then the relative form (by adding the value to the attribute).
 |
 |  The order of attributes considered when this relativedelta is
 |  added to a datetime is:
 |
 |  1. Year
 |  2. Month
 |  3. Day
 |  4. Hours
 |  5. Minutes
 |  6. Seconds
 |  7. Microseconds
 |
 |  Finally, weekday is applied, using the rule described above.
 |
 |  For example
 |
 |  >>> from datetime import datetime
 |  >>> from dateutil.relativedelta import relativedelta, MO
 |  >>> dt = datetime(2018, 4, 9, 13, 37, 0)
 |  >>> delta = relativedelta(hours=25, day=1, weekday=MO(1))
 |  >>> dt + delta
 |  datetime.datetime(2018, 4, 2, 14, 37)
 |
 |  First, the day is set to 1 (the first of the month), then 25 hours
 |  are added, to get to the 2nd day and 14th hour, finally the
 |  weekday is applied, but since the 2nd is already a Monday there is
 |  no effect.
 |
 |  Methods defined here:
 |
 |  __abs__(self)
 |
 |  __add__(self, other)
 |
 |  __bool__(self)
 |
 |  __div__(self, other)
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __hash__(self)
 |      Return hash(self).
 |
 |  __init__(self, dt1=None, dt2=None, years=0, months=0, days=0, leapdays=0, weeks=0, hours=0, minutes=0, seconds=0, microseconds=0, year=None, month=None, day=None, weekday=None, yearday=None, nlyearday=None, hour=None, minute=None, second=None, microsecond=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __mul__(self, other)
 |
 |  __ne__(self, other)
 |      Return self!=value.
 |
 |  __neg__(self)
 |
 |  __nonzero__ = __bool__(self)
 |
 |  __radd__(self, other)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __rmul__ = __mul__(self, other)
 |
 |  __rsub__(self, other)
 |
 |  __sub__(self, other)
 |
 |  __truediv__ = __div__(self, other)
 |
 |  normalized(self)
 |      Return a version of this object represented entirely using integer
 |      values for the relative attributes.
 |
 |      >>> relativedelta(days=1.5, hours=2).normalized()
 |      relativedelta(days=+1, hours=+14)
 |
 |      :return:
 |          Returns a :class:`dateutil.relativedelta.relativedelta` object.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  weeks

<hr style="border:dotted 1px">

<a id="_if,_elif,_else"></a>
<br>

### <span style="color:#c58fff">if, elif, else</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

- One '=' assigns value, two '==' checks equality
- When evaluating if True, False, None use 'is' instead of '=='

In [23]:
x = 10
no_val = None
false_val = False

#################################

if x==10:
    print('x is equal to 10')
elif x < 10:
    print('x is less than 10')
elif x > 10: 
    print('x is greater than 10')
else:
    print('unknown')
    
#################################
print('\n')
#################################

if no_val is not None:
    print('variable has a value')
else:
    print('variable (no_val) has no value')
    
#################################
print('\n')
#################################

if false_val is False:
    print('variable (false_val) is False')
else:
    print('variable (false_val) is True')

x is equal to 10


variable (no_val) has no value


variable (false_val) is False

<hr style="border:dotted 1px">

<a id="_help_functions"></a>
<br>

### <span style="color:#c58fff">Help Functions</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)


<a id="_dir()"></a>

#### <span style="color:white">dir()</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

Get list of properties and methods associated with an object.

In [43]:
dict1 = {1:'a'}

# Get list of properties and methods for an object
dir(dict1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

<br>
<a id="_help()"></a>

#### <span style="color:white">help()</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_basics2)

Get detailed list of properties and attributes of an object or particular property or method of an object.

In [52]:
dict1 = {1:'a'}

help(dict1.items)
print(f"\n{'~'*60}\n")
help(dict1)

Help on built-in function items:

items(...) method of builtins.dict instance
    D.items() -> a set-like object providing a view on D's items


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

***
***

<br>

<a id='_loops'></a>


# <span style="color:#bcff8f">Loops</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_loops2)

<hr style="border:dotted 1px">

<br>
<a id="_for_loop"></a>

### <span style="color:#c58fff">**For** Loop</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_loops2)

- For range(x,y) function, y is <u>exclusive</u>

In [24]:
for num in range(1,11):
    print(f"Current value: {num}")

Current value: 1
Current value: 2
Current value: 3
Current value: 4
Current value: 5
Current value: 6
Current value: 7
Current value: 8
Current value: 9
Current value: 10

<hr style="border:dotted 1px">

<br>
<a id="_while_loop"></a>

### <span style="color:#c58fff">**While** Loop</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_loops2)

- <u>Break</u>: Exits the current loop at current iteration/step
- <u>Continue</u>: Current iteration ceases and current loop starts
- <u>Pass</u>: Whatever the condition, will continue to iterate through the code

In [30]:
# Get odd numbers for numbers less than x

x = 10
counter = 0

while True:
    
    if counter > x-1:
        break  # exit current loop
    
    elif counter % 2 != 0:
        counter+=1
        continue  # stop current iteration and begin loop again
        
    else:
        counter+=1
        pass  # continue iteration of code

    print(f'Counter: {counter}')

Counter: 1
Counter: 3
Counter: 5
Counter: 7
Counter: 9

<hr style="border:dotted 1px">

<br>
<a id="_nested_loop"></a>

### <span style="color:#c58fff">Nested Loop</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_loops2)

<br>

Example 1

In [37]:
counter=10

while True:
    if counter < 15:
        for i in range(2,4):
            print(f"{str(counter)} x {str(i)} = {counter*i}")
            counter+=1
    else:
        break

10 x 2 = 20
11 x 3 = 33
12 x 2 = 24
13 x 3 = 39
14 x 2 = 28
15 x 3 = 45

<br>

Example 2

In [38]:
for val1 in range(1,9):
    string = ''
    for val2 in range(1,50):
        val2_1 = '~'
        val2_2 = '|'
        if val1 % 2 != 0:
            if val2 % 2 != 0:
                string = string + val2_1
            else:
                string = string + val2_2
        else:
            if val2 % 2 != 0:
                string = string + val2_2
            else:
                string = string + val2_1
    print(string)

~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~
|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|
~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~
|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|
~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~
|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|
~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~
|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|

<hr style="border:dotted 1px">

<br>
<a id="_list_comprehension"></a>

### <span style="color:#c58fff">List Comprehension</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_loops2)

Shorthand for looping through an iterable to create a list.

<br>

Example 1

In [15]:
list1 = [1, 2, 3, 4, 5, 6, 7]


# Creating list by looping through via comprehension
even_list = [i for i in list1 if i%2==0]

print(f"{even_list}")


# Creating same list by looping through via old loop method
even_list = []
for i in list1:
    if i%2==0:
        even_list.append(i)
        
print(f"{even_list}")

[2, 4, 6]
[2, 4, 6]

<br>

Example 2

In [14]:
list1 = [1, 2, 3, 4, 5, 6, 7]


# Getting the square of each number in list via comprehension
square_list = [i**2 for i in list1]

print(f"{square_list}")


# Getting the square of each number in list via old loop method
square_list = []
for i in list1:
    square_list.append(i**2)
    
print(f"{square_list}")

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

<br>

Example 3

In [17]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'a'
    , 5:'c'
    , 6:'a'
}


# Getting list of keys in dictionary where value = 'a' via comprehension
a_list = [key for key, value in dict1.items() if value=='a']

print(f"{a_list}")



# Getting list of keys in dictionary where value = 'a' via old loop method
a_list = [] 
for key, value in dict1.items():
    if value=='a':
        a_list.append(key)
        
print(f"{a_list}")

[1, 4, 6]
[1, 4, 6]

<hr style="border:dotted 1px">

<br>
<a id="_enumerate"></a>

### <span style="color:#c58fff">Enumerate</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_loops2)

Shorthand for looping through an iterable to create a list with counter without starting a variable with 0 and then adding for each iteration.

In [42]:
# standard method ########################################
list1 = ['a','b','c','d','e']
count = 0

for elem in list1:
    count += 1
    
print(f"Standard method loop counter: {count}")



# using the enumerate() function #########################
for count, elem in enumerate(list1, start=1):  # default is to start sequence at 0
    pass

print(f"Enumerate method loop counter: {count}")

Standard method loop counter: 5
Enumerate method loop counter: 5

***
***

<br>

<a id='_functions'></a>

# <span style="color:#bcff8f">Functions</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_functions2)

<hr style="border:dotted 1px">
<br>
<a id="_creating_functions"></a>

### <span style="color:#c58fff">Creating Functions</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_functions2)


<a id="_required_parameter"></a>

#### <span style="color:white">Required Parameter</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_functions2)

In [56]:
def list_avg(num_list):
    sample_size = len(num_list)
    sum_lst = sum(num_list)
    return (sum_lst / sample_size)

list1 = [1,5,7,10,10,9,9]

list_avg(list1)

7.285714285714286

<br>
<a id="_optional_default_parameter"></a>

#### <span style="color:white">Optional Default Parameter</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_functions2)

In [57]:
def food_love(food="pizza"):
    print(f"I love {food}!!!!!!")
    
food_love()

I love pizza!!!!!!

<br>
<a id="_**kwargs"></a>

#### <span style="color:white">\*\*kwargs</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_functions2) 

Undefined keyword parameters

In [62]:
def num_list(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
        
num_list(num1=5, num2=3, num3=2)

num1: 5
num2: 3
num3: 2

<br>
<a id="_*args"></a>

#### <span style="color:white">\*args</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_functions2) 

Undefined non-keyword parameters

In [63]:
def num_avg(*args):
    counter = 0
    _sum = 0
    for arg in args:
        counter+=1
        _sum+=arg
    return (_sum / counter)

num_avg(1,5,7,10,10,9,9)

7.285714285714286

<hr style="border:dotted 1px">
<br>
<a id="_if__name__=__main__"></a>

### <span style="color:#c58fff">if \_\_name__ == \"\_\_main__\"</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_functions2)

Used for Object-Oriented programming in Python. If \_\_name__ != \_\_main__ then the code is coming from an external source. Allows for code reusability across different modules. If this code is not in your program, then when imported in another program all of the code would automatically run. Using the 'if' statement like below prevents this and the user can select which module methods/functions to execute once imported.

<span style="font-size:11px">
    <ul>
        <li>__name__ : variable that get's assigned a value of "__main__" if code is running directly in current module else it will be the name of the module that is being imported.
    </ul>
</span>

In [55]:
def main():
    print('Code to execute in module if ran directly')
    
def non_main1():
    print('Code to execute if imported and called')
    
def non_main2():
    print('Some more code to execute if imported and called')
    
if __name__ == '__main__':
    main()

Code to execute in module if ran directly

***
***

<br>

<a id='_lists'></a>

# <span style="color:#bcff8f">Lists</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

<ul>
    <li>Are mutable meaning the current values can be changed.
    <li>Can contain multiple different data types.
    <li>Are ordered meaning the values are indexed.
    <li>Represented by square brackets '[ ]'.
    <li>Duplicates elements allowed.
</ul>

<hr style="border:dotted 1px">
<br><br>
<a id="_creating_lists"></a>

### <span style="color:#c58fff">Creating Lists</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [8]:
# Creating list using [ ]
list1 = [1,2,'abc','def']


# Creating list using list() function
list2 = list([1,2,'abc','def'])


# Creating empty list
empty_list = []

<hr style="border:dotted 1px">
<br>
<a id="_accessing_list_elements"></a>

### <span style="color:#c58fff">Accessing List Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [15]:
list1 = [1,2,3,'a','b','c']


# Accessing single element
print(list1[0])  # index [0] is first element in list


# Accessing multiple elements
print(list1[0:3])

1
[1, 2, 3]

<hr style="border:dotted 1px">
<br>
<a id="_modifying_list"></a>

### <span style="color:#c58fff">Modifying List</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)


<a id="_adding_list_element"></a>

#### <span style="color:white">Adding Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [16]:
list1 = [1,2,3,'a','b','c']


# Appending element to list
list1.append('d')
print(list1)


# Appending list to list
list1 = list1 + [4,5]
print(list1)

[1, 2, 3, 'a', 'b', 'c', 'd']
[1, 2, 3, 'a', 'b', 'c', 'd', 4, 5]

<br>
<a id="_removing_list_element"></a>

#### <span style="color:white">Removing Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [19]:
list1 = [1,2,3,'a','b','c','b','c',1]


# Remove element using del
del list1[2]  # !!! If no index specified then entire list will be deleted !!!
print(list1)


# Remove element by value using .remove() method
list1.remove('c')  # !!! Only remove the first instance found !!!
print(list1)

[1, 2, 'a', 'b', 'c', 'b', 'c', 1]
[1, 2, 'a', 'b', 'b', 'c', 1]

<br>
<a id="_modifying_list_element"></a>

#### <span style="color:white">Modifying Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [25]:
list1 = [1,2,3]


# Modify value in list
list1[1] = 20
print(list1)

[1, 20, 3]

<br>
<a id="_deleting_list"></a>

#### <span style="color:white">Deleting List</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [24]:
list1 = [1,2,3]

# Delete the list
del list1

try:
    print(list1)
except NameError:
    print('list1 is not defined')

list1 is not defined

<hr style="border:dotted 1px">
<br>
<a id="_analyzing_list"></a>

### <span style="color:#c58fff">Analyzing List</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)


<a id="_length_of_list"></a>

#### <span style="color:white">Length of List</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [20]:
list1 = [1,2,3,'a','b','c']

len(list1)

6

<br>
<a id="_sum_of_list"></a>

#### <span style="color:white">Sum of List</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [28]:
list1 = [1,2,3]

sum(list1)

6

<br>
<a id="_looping_through_list"></a>

#### <span style="color:white">Looping Through List</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_lists2)

In [31]:
list1 = [1,2,3,'a','b','c']
index = 0

for elem in list1:
    print(f"list1[{index}] = {elem}")
    index+=1

list1[0] = 1
list1[1] = 2
list1[2] = 3
list1[3] = a
list1[4] = b
list1[5] = c

***
***

<br><br>

<a id='_tuples'></a>

# <span style="color:#bcff8f">Tuples</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

<ul>
    <li>Are immutable meaning the current values can <b>not</b> be changed.
    <li>Can contain multiple different data types.
    <li>Are ordered meaning the values are indexed.
    <li>Represented by parenthesis '( )'.
    <li>Duplicate elements allowed.
</ul>

<br>
<a id="_creating_tuples"></a>

### <span style="color:#c58fff">Creating Tuples</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

In [37]:
# Creating tuple with elements
tup1 = ('ID:','e81554','Age:',32)
print(f"{tup1}\n")


# Creating single value Tuple
tup1 = ('ID:',)  # If single value Tuple you must insert comma after first element, otherwise it will consider it a regular variable
non_tup = ('ID:')  # no comma so Python considers it a variable
print(f'''tup1 type: {type(tup1)}
tup2 type: {type(non_tup)}\n''')


# Creating an empty Tuple
tup1 = tuple()
print(tup1)

('ID:', 'e81554', 'Age:', 32)

tup1 type: <class 'tuple'>
tup2 type: <class 'str'>

()

<hr style="border:dotted 1px">
<br>
<a id="_accessing_tuple_elements"></a>

### <span style="color:#c58fff">Accessing Tuple Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

In [43]:
tup1 = ('ID:','e81554','Age:',32)


# Accessing single value in tuple
print(f"{tup1[0]}\n")


# Accessing multiple values in tuple
print(tup1[0:2])

ID:

('ID:', 'e81554')

<hr style="border:dotted 1px">
<br>
<a id="_modifying_tuple"></a>

### <span style="color:#c58fff">Modifying Tuple</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

Remember, Tuples are immutable and elements cannot be <u>directly</u> modified but you can indirectly achieve modifying a tuple by overwriting the tuple with newly desired tuple elements.


<a id="_adding_tuple_element"></a>

#### <span style="color:white">Adding Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

In [47]:
tup1 = ('ID:','e81554','Age:',32)

tup1 = tup1 + ('DOB: ',1989)

print(tup1)

('ID:', 'e81554', 'Age:', 32, 'DOB: ', 1989)

<br>
<a id="_removing_tuple_element"></a>

#### <span style="color:white">Removing Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

In [51]:
tup1 = ('ID:','e81554','Age:',32)

tup1 = tup1[0:2]  # Affectively remove last 2 elements.

print(tup1)

('ID:', 'e81554')

<br>
<a id="_modifying_tuple_element"></a>

#### <span style="color:white">Modifying Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

Is a little bit trickier. Will have to first convert the tuple to a list, then change the desired element, then convert the list back to a tuple overwriting the previous tuple variable.

In [39]:
tup1 = ('ID:','e81554','Age:',32)

tup_list = list(tup1)  # Convert tuple to list

tup_list[3] = 34  # Change value in list

tup1 = tuple(tup_list)  # Convert the list to a tuple overwriting the previous tuple variable

print(tup1)

('ID:', 'e81554', 'Age:', 34)

<hr style="border:dotted 1px">
<br>
<a id="_analyzing_tuple"></a>

### <span style="color:#c58fff">Analyzing Tuple</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)


<a id="_length_of_tuple"></a>

#### <span style="color:white">Length of Tuple</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

In [54]:
tup1 = ('ID:','e81554','Age:',32)

len(tup1)

4


<a id="_looping_through_tuple"></a>

#### <span style="color:white">Looping Through Tuple</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_tuples2)

In [57]:
tup1 = ('ID: ', 'e81554', 'Name: ', 'Patrick Weatherford', 'Age: ', 32)

index = 0

for elem in tup1:
    tup_len = len(tup1)
    print(f'''{tup1[index]}{tup1[index+1]}''')
    index += 2
    if index+1 > tup_len:
        break
    else:
        pass

ID: e81554
Name: Patrick Weatherford
Age: 32

***
***

<br><br>

<a id='_sets'></a>

# <span style="color:#bcff8f">Sets</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)
<ul>
    <li>Are mutable meaning the current values can be changed.
    <li>Can contain multiple different data types.
    <li>Are unordered meaning the values are <b>not</b> indexed.
    <li>Represented by braces '{ }' similar to Dictionaries but elements <b>not</b> stored as key:value pairs.
    <li>Duplicate elements <b>not</b> allowed.
    <li>Highly optimized for checking if an element is contained in the set.
</ul>

<br>
<a id="_creating_sets"></a>

### <span style="color:#c58fff">Creating Sets</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

Duplicate values will be made unique when creating a set!

In [65]:
# Creating a set using braces '{ }'
set1 = {1,1,2,2,3,3,4,4,5,5}
print(f'{set1}\n')


# Creating a set using set()
set1 = set([1,1,2,2,3,3,4,4,5,5]) # converting list to set
print(f'{set1}\n')


# Creating an empty set
empty_set = set() # Cannot use var = {} because Python will think this is an empty dictionary
print(empty_set)

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

set()

<hr style="border:dotted 1px">
<br>
<a id="_accessing_set_elements"></a>

### <span style="color:#c58fff">Accessing Set Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

Sets are unordered which means they have no index that we can use to access specific elements. For this reason we will have to loop through the Set to access the value you are wanting to find.

In [69]:
set1 = {1, 'a', 2, 'b', 3, 'c'}

item_to_find = 'b'
item_found = False

for elem in set1:
    if str(elem) == item_to_find:
        item_found = True
        break
    else:
        continue
        
if item_found is True:
    print(f"'{item_to_find}' was found in set1")
else:
    print(f"'{item_to_find}' was NOT found in set1")

'b' was found in set1

<hr style="border:dotted 1px">
<br>
<a id="_modifying_set"></a>

### <span style="color:#c58fff">Modifying Set</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

<br>
<a id="_adding_set_element"></a>

#### <span style="color:white">Adding Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

<ul>
    <li><u>.add()</u>: If element already exists, 
</ul>

In [70]:
set1 = {1, 'a', 2, 'b', 3, 'c'}


# Add element using .add() method
set1.add(1)  # If already exists, will ignore
set1.add(4)
print(f'{set1}')

{1, 2, 3, 'c', 4, 'a', 'b'}

<br>
<a id="_removing_set_element"></a>

#### <span style="color:white">Removing Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

<ul>
    <li><u>.discard()</u>: If element to remove not found, no exception thrown.
    <li><u>.remove()</u>: If element to remove not found, exception thrown.
    <li><u>.clear()</u>: Removes all elements from a set. If no elements in set when executed, no exception thrown.
</ul>

In [104]:
set1 = {1, 'a', 2, 'b', 3, 'c'}


# Remove element using .discard() method
set1.discard(777)  # No exception thrown if doesn't exist
set1.discard(1)
print(f'{set1}\n')


# Remove element using .remove() method
try:
    set1.remove(777)  # Exception thrown if doesn't exist
except KeyError:
    print('Element 777 does not exist in the set! Nothing removed!')
    print(f"{set1}\n")
    
    
# Remove multiple elements by removing elements in set that are in another set
remove_elem_set = {'a', 'b', 'c'}
set1 = set1 - remove_elem_set
print(f"{set1}\n")
    
    
# Remove all elements using .clear() method
set1.clear()
print(set1)

{2, 3, 'c', 'a', 'b'}

Element 777 does not exist in the set! Nothing removed!
{2, 3, 'c', 'a', 'b'}

{2, 3}

set()

<br>
<a id="_modifying_set_element"></a>

#### <span style="color:white">Modifying Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

Same to Accessing Elements, when modifying an element in a Set you'll need to loop through the Set because it is unordered and un-indexed.

In [82]:
set1 = {1, 'a', 2, 'b', 3, 'c'}

# If element is not upper case, add upper case version and remove lower case version
for elem in set1:
    if str(elem) != str(elem).upper():
        set1.add(elem.upper())
        set1.discard(elem)
    else:
        continue
        
print(f"{set1}")

{1, 2, 3, 'C', 'B', 'A'}

<br>
<a id="_deleting_set"></a>

#### <span style="color:white">Deleting Set</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

In [112]:
set1 = {1, 'a', 2, 'b', 3, 'c'}

del set1

try:
    print(set1)
except:
    print('set1 has been deleted!')

set1 has been deleted!

<hr style="border:dotted 1px">
<br>
<a id="_analyzing_set"></a>

### <span style="color:#c58fff">Analyzing Set</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

<br>
<a id="_length_of_set"></a>

#### <span style="color:white">Length of Set</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

In [105]:
set1 = {1, 'a', 2, 'b', 3, 'c', 4.5, -1}

len(set1)

8

<br>
<a id="_sum_of_set"></a>

#### <span style="color:white">Sum of Set</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

Will first need to remove non-numeric elements.

In [110]:
set1 = {1, 'a', 2, 'b', 3, 'c', 4.5, -1}
num_list = []

float_chk = type(1.5)
int_chk = type(1)

for elem in set1:
    if type(elem)==float_chk or type(elem)==int_chk:
        num_list.append(elem)
    else:
        pass

{1, 2, 3, 4.5, -1}

<br>
<a id="_similarities_between_sets"></a>

#### <span style="color:white">Similarities Between Sets</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

Get unique similarites between multiple sets.

- .intersection() method
- Shortcut syntax for this method is the '|' operator.

In [113]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}


# Compare using the .intersection() method
print(set1.intersection(set2))


# Compare using the '&' syntax for the .intersection() method
print(set1 & set2)

{3, 4, 5}
{3, 4, 5}

<br>
<a id="_unique_values_between_sets"></a>

#### <span style="color:white">Unique Values Between Sets</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

Combine multiple sets into 1 set with unique values.

- .union() method
- Shortcut syntax for this method is the '|' operator.

In [116]:
set1 = {1,2,3}
set2 = {6,7,3}


# Compare using the .union() method
print(set1.union(set2))


# Compare using the '|' syntax for the .union() method
print(set1 | set2)

{1, 2, 3, 6, 7}
{1, 2, 3, 6, 7}

<br>
<a id="_unique_differences_between_sets"></a>

#### <span style="color:white">Unique Differences Between Sets</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

<ul>
    <li><u>.difference()</u>: Gets unique values in first set that are <b>not</b> in the other set. Shortcut syntax for this method is the '-' operator.
    <li><u>.symmetric_difference()</u>: Gets values unique to each set and combines them into 1 set. Shortcut syntax for this method is the '^' operator. 
</ul>

In [119]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}


# Remove values in set1 that are in set2
print(set1 - set2)  # set1 - set2
print(set2.difference(set1))  # set2 - set1


# Remove all similar values between multiple sets
print(set1 ^ set2)
print(set2.symmetric_difference(set1))

{1, 2}
{5, 6}
{1, 2, 5, 6}
{1, 2, 5, 6}

<br>
<a id="_subsets_vs_supersets"></a>

#### <span style="color:white">Subsets vs. Supersets</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_sets2)

<ul>
    <li><u>Subset</u>: A set in which all elements exist in another set with equal ore more elements in it.
    <li><u>Superset</u>: A set in which all elements exist in another set and has equal to ore more elements in it.
</ul>

In [121]:
sub_set = {1,2,3}
sub_set2 = {1,2,3}
sup_set = {1,2,3,4,5}
empty_set = set()

print(f'''
sub_set is superset of sup_set? {sub_set.issuperset(sup_set)}
''')

sub_set is superset of sup_set? False

***
***

<br><br>

<a id='_dictionaries'></a>

# <span style="color:#bcff8f">Dictionaries</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)
<ul>
    <li>Are mutable meaning the current values can be changed.
    <li>Can contain multiple different data types.
    <li>Are ordered meaning the values are indexed.
    <li>Represented by braces '{ }' similar to Sets but elements stored as key:value pairs.
    <li>Does not allow duplicate keys but values can however be duplicated.
</ul>

<br>
<a id="_creating_dictionaries"></a>

### <span style="color:#c58fff">Creating Dictionaries</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

In [11]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'this gets overwritten' 
    , 4:'d' # because this is read last, value is updated to this value for key=4
    , 5:'a' # duplicate values allowed
}

dict2 = {
    1:10
    , 2:20
    , 3:30
    , 4:40 
}

print(f"{dict1}\n{dict2}")

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'a'}
{1: 10, 2: 20, 3: 30, 4: 40}

<hr style="border:dotted 1px">
<br>
<a id="_accessing_dictionary_elements"></a>

### <span style="color:#c58fff">Accessing Dictionary Element(s)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

<br>
<a id="_accessing_based_on_key"></a>

#### <span style="color:white">Accessing Based on Key</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

In [8]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'d'
    , 5:'a'
}

print(f"Value for key=4: {dict1[4]}")

Value for key=4: d

<br>
<a id="_accessing_based_on_value"></a>

#### <span style="color:white">Accessing Based on Value</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

In [10]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'d'
    , 5:'a'
}



# Via list comprehension (shorthand for looping into list)
key_list = [key for key, value in dict1.items() if value=='a']
print(f"{key_list}\n")



# Via regular old looping
key_list = []
for key, value in dict1.items():
    if value == 'a':
        key_list.append(key)
print(f"{key_list}\n")

[1, 5]

[1, 5]

<hr style="border:dotted 1px"><br>
<a id="_modifying_dictionary"></a>

### <span style="color:#c58fff">Modifying Dictionary</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

<br>
<a id="_adding_dictionary_element"></a>

#### <span style="color:white">Adding Element</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

Remember, key duplicates are not allowed. If an existing key is modified, the value will be updated with the new value specified for the key. If the key does not exist, then the new key:value pair will be added.

In [20]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'d'
    , 5:'a'
}


# Adding non-existing key:value pair
dict1[6] = 'e'

print(f"{dict1}")


# Adding existing key will overwrite the value
dict1[6] = 'new value'

print(f"{dict1}")

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'a', 6: 'e'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'a', 6: 'new value'}

<br>
<a id="_removing_dictionary_element"></a>

#### <span style="color:white">Removing Element</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

<ul>
    <li>Not specifying a key when using <b>del</b> will delete the entire dictionary!
    <li>If non-existing key is specified, an exception is thrown.
</ul>

In [60]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'d'
    , 5:'a'
}


del dict1[5]  ## !! Not specifying the key will delete the entire dictionary !!

print(f"{dict1}\n")



# If key does not exist, exception is thrown
try:
    del dict1[5]
    print(f"{dict1}")
    
except KeyError:
    print(f"Key not found!\n")
    
    

# clear all items from dictionary
dict1.clear()
print(f"{dict1}")

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

Key not found!

{}

<br>
<a id="_modifying_dictionary_element"></a>

#### <span style="color:white">Modifying Element</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

<ul>
    <li>If non-existing key is specified, new key:value will be created!
</ul>

In [4]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'d'
    , 5:'a'
}


# If key exists, will overwrite the value.
dict1[5] = 'e'

print(f"{dict1}")



# If key does not exist, new key:value created!
dict1[6] = 'f'

print(f"{dict1}")

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

<br>
<a id="_deleting_dictionary"></a>

#### <span style="color:white">Deleting Dictionary</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

In [62]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'d'
    , 5:'a'
}

del dict1


try:
    print(f"{dict1}")
except:
    print(f"dict1 not found!")

dict1 not found!

<hr style="border:dotted 1px"><br>
<a id="_analyzing_dictionary"></a>

### <span style="color:#c58fff">Analyzing Dictionary</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

<br>
<a id="_length_of_dictionary"></a>

#### <span style="color:white">Length of Dictionary</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

In [63]:
dict1 = {
    1:'a'
    , 2:'b'
    , 3:'c'
    , 4:'d'
    , 5:'a'
}

len(dict1)

5

<br>
<a id="_sum_of_dictionary"></a>

#### <span style="color:white">Sum of Dictionary</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

In [75]:
dict1 = {
    1:10
    , 2:20
    , 3:30
    , 4:'a'
    , 5:-10
    , 6:3.14
}

num_list = [value for value in dict1.values() if type(value)==float or type(value)==int]

sum(num_list)

53.14

<br>
<a id="_looping_through_dictionary"></a>

#### <span style="color:white">Looping Through Dictionary</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_dictionaries2)

<br>

Looping through key, values

In [79]:
dict1 = {
    1:10
    , 2:20
    , 3:30
    , 4:'a'
    , 5:-10
    , 6:3.14
}

for key, value in dict1.items():
    print(f"key[{key}] : value[{value}]")

key[1] : value[10]
key[2] : value[20]
key[3] : value[30]
key[4] : value[a]
key[5] : value[-10]
key[6] : value[3.14]

<br>

Looping through keys

In [80]:
dict1 = {
    1:10
    , 2:20
    , 3:30
    , 4:'a'
    , 5:-10
    , 6:3.14
}

for key in dict1.keys():
    print(f"key[{key}]")

key[1]
key[2]
key[3]
key[4]
key[5]
key[6]

<br>

Looping through values

In [81]:
dict1 = {
    1:10
    , 2:20
    , 3:30
    , 4:'a'
    , 5:-10
    , 6:3.14
}

for value in dict1.values():
    print(f"value[{value}]")

value[10]
value[20]
value[30]
value[a]
value[-10]
value[3.14]

***
***

<br><br>

<a id='_working_with_files'></a>

# <span style="color:#bcff8f">Working with Files</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_working_with_files2)

<br>

Set Working Directory

In [87]:
import os

path = os.path.expanduser('~') + '\\OneDrive - Bellevue University\\Bellevue_University\\Python\\JupyterBU'

os.chdir(path)

print(os.getcwd())

C:\Users\patwea\OneDrive - Bellevue University\Bellevue_University\Python\JupyterBU

<img src="ipynb Files/Text IO Decision Tree.png">

<br>
<a id="_text_files"></a>

### <span style="color:#c58fff">Text Files</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_working_with_files2)

<br>
<a id="_reading_text_file"></a>

#### <span style="color:white">Reading Text File</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_working_with_files2)

In [93]:
with open('ipynb Files\\Family.txt', 'r') as file:
    for line in file:
        print(line.replace('\n',''))

ID	Name	Sex
1	Patrick	Male
2	Leigha	Female
3	Blake	Male

<br>
<a id="_creating_new_text_file"></a>

#### <span style="color:white">Creating New Text File</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_working_with_files2)

In [7]:
# Creating a blank file
with open('ipynb Files\\blank_file.txt', 'w+') as file:
    pass


# Creating a copy of another file
with open('ipynb Files\\Family.txt', 'r+') as parent_file:
    with open('ipynb Files\\Family_(copy).txt', 'w+') as copy_file:
        for line in parent_file:
            copy_file.write(line)

<br>
<a id="_modifying_text_file"></a>

#### <span style="color:white">Modifying Text File</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_working_with_files2)

In [158]:
nl = '\n'
d = '\t'
header = f"ID{d}Name{d}Sex{nl}"

with open('ipynb Files\\Family.txt', 'r+') as file: # tab delimited text file

    # reading file to see what it looks like
    print(f"Old file:")
    for line in file:
        print(line.replace('\n',''))


    # writing new line to file
    print(f"{nl}New file:")
    file.write(f"4{d}Gizmo{d}Female")  # writing to file
    file.seek(0,0)  # return to beginning of file
    for line in file:
        print(line.replace('\n',''))

        
    # changing file back to the way it was
    file.seek(0,0)  # return to beginning of file
    file.truncate()  # truncate file. If no argument present, default is to truncate to current position in file.
    file.write(header)
    file.write(f"1{d}Patrick{d}Male{nl}")
    file.write(f"2{d}Leigha{d}Female{nl}")
    file.write(f"3{d}Blake{d}Male{nl}")

Old file:
ID	Name	Sex
1	Patrick	Male
2	Leigha	Female
3	Blake	Male

New file:
ID	Name	Sex
1	Patrick	Male
2	Leigha	Female
3	Blake	Male
4	Gizmo	Female

<hr style="border:dotted 1px"><br>
<a id="_excel_files"></a>

### <span style="color:#c58fff">Excel Files</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_working_with_files2)


<a id="_reading_excel_file"></a>

#### <span style="color:white">Reading Excel File</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_working_with_files2)

<br>

Using Pandas reading into Data Frame

In [164]:
import pandas as pd

file = 'ipynb Files\\Family.xlsx'

pd.read_excel(file, sheet_name='Family')

   ID     Name     Sex
0   1  Patrick    Male
1   2   Leigha  Female
2   3    Blake    Male

<br>

Using openpyxl

In [134]:
import openpyxl as oxl
from openpyxl.utils import get_column_letter

file = 'ipynb Files\\Family.xlsx'

wb = oxl.load_workbook(file)  # access specific file

ws = wb['Family (no table)']  # access specific sheet in file

excel_row_dict = {}
excel_col_dict = {}
row_list = []
row_count = 0

# Dictionary for row iterations
for row in ws.iter_rows(min_row=3): # no values in row 1 & 2 so start at 3
    row_list = [cell.value for cell in row]
    row_num = row_count + ws.min_row
    row_count+=1
    excel_row_dict[row_num] = row_list
       
print(f"Row Iteration Storage:")
for row_num, row_vals in excel_row_dict.items():
    print(f"Row: {row_num} {row_vals}")
    
    
# Dictionary for column iterations
for col in ws.iter_cols(min_row=3):
    col_list = [cell.value for cell in col]
    excel_col_dict[col_list[0]] = col_list[1:]
    
print(f"\nColumn Iteration Storage:")
for col, col_vals in excel_col_dict.items():
    print(f"Column: {col} {col_vals}")

Row Iteration Storage:
Row: 3 ['ID', 'Name', 'Sex']
Row: 4 [1, 'Patrick', 'Male']
Row: 5 [2, 'Leigha', 'Female']
Row: 6 [3, 'Blake', 'Male']

Column Iteration Storage:
Column: ID [1, 2, 3]
Column: Name ['Patrick', 'Leigha', 'Blake']
Column: Sex ['Male', 'Female', 'Male']

<br>
<a id="_modifying_excel_file"></a>

#### <span style="color:white">Modifying Excel File</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_working_with_files2)

In [239]:
import openpyxl as oxl
from openpyxl.utils import get_column_letter

file = 'ipynb Files\\Family.xlsx'

wb = oxl.load_workbook(file)  # access specific file

ws = wb['Family (no table)']  # access specific sheet in file


# Create function to delete list of row numbers provided and save file
def del_rows(ws, rows_to_del, file):
    if type(rows_to_del) is int:
        ws.delete_rows(rows_to_del)
    else:
        for row_to_del in rows_to_del:
            ws.delete_rows(row_to_del)
    wb.save(file)



# View current data
print(f"Current data in file:")
row_count = 0
for row in ws.iter_rows(min_row=3):
    row_list = [cell.value for cell in row]
    row_num = row_count + ws.min_row
    row_count+=1
    print(f"{row_num}: {row_list}")

# Append new data to the file
ws.append([4,'Gizmo','Female'])  
wb.save('ipynb Files\\Family.xlsx')


excel_row_dict = {}
row_count = 0

# View data after row add
print(f"\nData in file after row add:")
for row in ws.iter_rows(min_row=3):
    row_list = [cell.value for cell in row]
    row_num = row_count + ws.min_row
    row_count+=1
    excel_row_dict[row_num] = row_list
    
for row_num, row_vals in excel_row_dict.items():
    print(f"{row_num}: {row_vals}")
    
        
rows_to_del = [7]
del_rows(ws, rows_to_del, file)

Current data in file:
3: ['ID', 'Name', 'Sex']
4: [1, 'Patrick', 'Male']
5: [2, 'Leigha', 'Female']
6: [3, 'Blake', 'Male']

Data in file after row add:
3: ['ID', 'Name', 'Sex']
4: [1, 'Patrick', 'Male']
5: [2, 'Leigha', 'Female']
6: [3, 'Blake', 'Male']
7: [4, 'Gizmo', 'Female']

***
***

<br><br>

<a id='_exception_handling'></a>

# <span style="color:#bcff8f">Exception Handling</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_exception_handling2)

<span style="color:#419244">try</span>:<br>
       # Some Code.... 

<span style="color:#419244">except</span>:<br>
       # optional block
       # Handling of exception (if required)

<span style="color:#419244">else</span>:<br>
       # execute if no exception

<span style="color:#419244">finally</span>:<br>
      # Some code .....(always executed)

<hr style="border:dotted 1px"><br>
<a id="_try_then_else_finally"></a>

### <span style="color:#c58fff">try, then, else, finally</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_exception_handling2)

In [2]:
user_input = input('Enter a number: ')

try:
    float(user_input)
    print(f'..."try" statement successful')
except:
    print(f'..."try" statement failed...code ran for "except" statement')
else:
    print('...code runs for "else" statement if "try" statement successful')
finally:
    print('...code always runs for "finally" statement')

Enter a number:  1

..."try" statement successful
...code runs for "else" statement if "try" statement successful
...code always runs for "finally" statement

***
***

<br><br>

<a id='_classes_'></a>

# <span style="color:#bcff8f">Classes</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by their class) for modifying their state. (GeeksForGeeks.org)

<hr style="border:dotted 1px"><br>
<a id="_creating_a_class"></a>

### <span style="color:#c58fff">Creating a Class</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

In [56]:
import datetime as dt

nl = '\n'

# create name for class
class Person:
    
    # class instance creation blueprint
    def __init__(self, first, last, dob_str):
        self.first = first
        self.last = last
        self.dob_str = dob_str
        
        
# creating an instance of class Person
p1 = Person('Patrick', 'Weatherford', '10/18/1989')
p2 = Person('Leigha', 'Weatherford', '10/04/1989')


# print class instances
print(f"First\t\tLast\t\t\tDOB")
print(f"{p1.first}\t\t{p1.last}\t\t{p1.dob_str}")
print(f"{p2.first}\t\t{p2.last}\t\t{p2.dob_str}")

First		Last			DOB
Patrick		Weatherford		10/18/1989
Leigha		Weatherford		10/04/1989

<hr style="border:dotted 1px"><br>
<a id="_class_instance_totals"></a>

### <span style="color:#c58fff">Class Instance Totals</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

In [23]:
class Person:
    
    total_obj = 0
    
    def __init__(self, first):
        self.first = first
        Person.total_obj += 1
        
        
    def __del__(self):
        Person.total_obj -= 1
        
print(f"Beginning total: {Person.total_obj}")

p1 = Person('Patrick')
p2 = Person('Leigha')
p3 = Person('Gizmo')

print(f"After adding 3 objects: {Person.total_obj}")

del p3

print(f"After removing 1 object: {Person.total_obj}")


del p1, p2  # reset the class to 0 instances

Beginning total: 0
After adding 3 objects: 3
After removing 1 object: 2

<hr style="border:dotted 1px"><br>
<a id="_regular_methods"></a>

### <span style="color:#c58fff">Regular Methods</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

Function for instance of class. They are used to do some kind of action on a particular instance of a class. If variable used in the method then will first search the instance of the class, then the class, then any other superseding inherited classes based on Method Resolution Order (MRO).

In [17]:
import datetime as dt

nl = '\n'

# create name for class
class Person:
    
    raise_amt = 1.05
    
    # class instance creation blueprint
    def __init__(self, first, last, dob_str, pay):
        self.first = first
        self.last = last
        self.dob_str = dob_str
        self.pay = pay
        
        
### !!REGULAR METHOD CREATION BELOW!! ##########################
    
    # Take dob (string) and convert to dob (date)
    def dob_date(self):
        return dt.datetime.strptime(self.dob_str, "%m/%d/%Y").date()
    
    # Multiple pay * raise_amt. Based on method resolution order (MRO), python will first check the instance, then the class, then inherited classes based on MRO
    def pay_raise(self):
        result = (self.pay * self.raise_amt)
        return result
    
################################################################
        
        
        
# creating an instance of class Person
p1 = Person('Patrick', 'Weatherford', '10/18/1989', 20000)
p2 = Person('Leigha', 'Weatherford', '10/04/1989', 30000)


# print class instances
print(f"First\t\tLast\t\tDOB\t\tOld Pay\t\tRaise Amt.\tNew Pay")
p1.raise_amt = 1.0  # raise_amt previously only existed for Class but now exists for the instance and is different.
print(f"{p1.first}\t\t{p1.last}\t{p1.dob_date()}\t{p1.pay}\t\t{p1.raise_amt}\t\t{p1.pay_raise()}")
print(f"{p2.first}\t\t{p2.last}\t{p2.dob_date()}\t{p2.pay}\t\t{p2.raise_amt}\t\t{p2.pay_raise()}")

First		Last		DOB		Old Pay		Raise Amt.	New Pay
Patrick		Weatherford	1989-10-18	20000		1.0		20000.0
Leigha		Weatherford	1989-10-04	30000		1.05		31500.0

<hr style="border:dotted 1px"><br>
<a id="_class_methods"></a>

### <span style="color:#c58fff">Class Methods</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

Function for the class. They are used to do some kind of action on the class itself. For example, there may be a class variable that you want to change or maybe you want another method to construct an instance (aka class method as alternative constructor).

In [25]:
import datetime as dt

nl = '\n'

# create name for class
class Person:
    
    raise_amt = 1.05
    
    # class instance creation blueprint
    def __init__(self, first, last, dob_str, pay):
        self.first = first
        self.last = last
        self.dob_str = dob_str
        self.pay = pay
        
        
### !!CLASS METHOD CREATION BELOW!! ##########################
    
    # Modifying Class variable
    @classmethod
    def chg_raise_amt(cls, input_amt):
        old_amt = cls.raise_amt
        try:
            cls.raise_amt = input_amt
            print(f"Person.raise_amt succsefully changed from {old_amt} to {input_amt}!\n\n")
        except:
            print(f"Person.raise_amt updated failed!\n\n")
    
    
    # Using Class method as an alternative constructor
    @classmethod
    def str_person(cls, person_str, delim):
        first, last, dob_str, pay = person_str.split(delim)
        pay = int(pay)
        return cls(first, last, dob_str, pay)
    
################################################################




p1 = Person('Patrick', 'Weatherford', '10/18/1989', 20000)
p2 = Person.str_person('Leigha-Weatherford-10/04/1989-30000', delim='-') # creating instance using Class method as alternative constructor

print(f"First\t\tLast\t\tDOB\t\tPay\tRaise amt.")
print(f"{p1.first}\t\t{p1.last}\t{p1.dob_str}\t{p1.pay}\t{p1.raise_amt}")
print(f"{p2.first}\t\t{p2.last}\t{p2.dob_str}\t{p2.pay}\t{p2.raise_amt}\n\n")

# Updating Class variable for raise_amt via Class method
Person.chg_raise_amt(1.10)

print(f"First\t\tLast\t\tDOB\t\tPay\tRaise amt.")
print(f"{p1.first}\t\t{p1.last}\t{p1.dob_str}\t{p1.pay}\t{p1.raise_amt}")
print(f"{p2.first}\t\t{p2.last}\t{p2.dob_str}\t{p2.pay}\t{p2.raise_amt}")

First		Last		DOB		Pay	Raise amt.
Patrick		Weatherford	10/18/1989	20000	1.05
Leigha		Weatherford	10/04/1989	30000	1.05


Person.raise_amt succsefully changed from 1.05 to 1.1!


First		Last		DOB		Pay	Raise amt.
Patrick		Weatherford	10/18/1989	20000	1.1
Leigha		Weatherford	10/04/1989	30000	1.1

<hr style="border:dotted 1px"><br>
<a id="_static_methods"></a>

### <span style="color:#c58fff">Static Methods</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)
Function that is part of the Class but is not dependent on the Class or instance of the Class. They work very similar to just regular functions. They are used for attributes that have a logical relationship with the Class or instance but is not dependent them to create the expression.

In [31]:
from datetime import datetime
from datetime import date

nl = '\n'

# create name for class
class Person:
    
    raise_amt = 1.05
    
    # class instance creation blueprint
    def __init__(self, first, last, dob_str, pay):
        self.first = first
        self.last = last
        self.dob_str = dob_str
        self.pay = pay
        
        
### !!STATIC METHOD CREATION BELOW!! ##########################
    
    # Modifying Class variable
    @staticmethod
    def cur_date():
        return date.today()
    
################################################################


print(f"First\t\tLast\t\tDOB\t\tPay\tRaise amt.\tCurrent Date")
print(f"{p1.first}\t\t{p1.last}\t{p1.dob_str}\t{p1.pay}\t{p1.raise_amt}\t\t{Person.cur_date()}")
print(f"{p2.first}\t\t{p2.last}\t{p2.dob_str}\t{p2.pay}\t{p2.raise_amt}\t\t{Person.cur_date()}")

First		Last		DOB		Pay	Raise amt.	Current Date
Patrick		Weatherford	10/18/1989	20000	1.1		2021-12-17
Leigha		Weatherford	10/04/1989	30000	1.1		2021-12-17

<hr style="border:dotted 1px"><br>
<a id="_property_decorators"></a>

### <span style="color:#c58fff">Property Decorators</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

YouTube video with explanation: [<span style="color:#6185c9">Property Decorators</span>](https://www.youtube.com/watch?v=jCzT9XFZ5bw)


<a id="_@property"></a>

#### <span style="color:white">@property</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

Allows us to define a method that is accessed like an attribute (aka no parentheses).

In [32]:
# create name for class
class Person:
    
    raise_amt = 1.05
    
    # class instance creation blueprint
    def __init__(self, first, last):
        self.first = first
        self.last = last
        self.full_name = f"{self.first} {self.last}"
        
    
    # creating a regular method for full name. It will be accessed like a mthod
    def full_name2(self):
        return f"{self.first} {self.last}"
    
    
    # creating a property which is a method but is accessed like an attribute
    @property
    def full_name3(self):
        return f"{self.first} {self.last}"
        
p1 = Person('Patrick', 'Weatherford')

print(p1.full_name)  # attribute of the object
print(p1.full_name2())  # regular method call
print(p1.full_name3)  # property which is a method accessed like an attribute

Patrick Weatherford
Patrick Weatherford
Patrick Weatherford

<br>
<a id="_@property.setter"></a>

#### <span style="color:white">@property.setter</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

Used to dynamically update other attributes and/or properties for an object based on the value set for a specific attribute or property.

In [54]:
# create name for class
class Person:
    
    raise_amt = 1.05
    
    # class instance creation blueprint
    def __init__(self, first, last):
        self.first = first
        self.last = last
        
    # creating a property which is a method but is accessed like an attribute
    @property
    def full_name(self):
        return f"{self.first} {self.last}"
    
    
    # creating the setter which, based on the value for the full_name property set, will update other attributes for the object
    @full_name.setter
    def full_name(self, name):
        first, last = name.split(' ')
        self.first = first
        self.last = last
        

# creating object which has a property of full_name = Patrick Weatherford
p1 = Person('Patrick', 'Weatherford')
print(f"{p1.first}\n{p1.last}\n{p1.full_name}\n")


# execute setter on full_name to change first, last, and full_name for the object
p1.full_name = 'Leigha Minton'
print(f"{p1.first}\n{p1.last}\n{p1.full_name}\n\n")

Patrick
Weatherford
Patrick Weatherford

Leigha
Minton
Leigha Minton

<br>
<a id="_@property.deleter"></a>

#### <span style="color:white">@property.deleter</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

Used to dynamically remove other attributes and/or properties for an object based on the value set for a specific attribute or property.

In [55]:
# create name for class
class Person:
    
    raise_amt = 1.05
    
    # class instance creation blueprint
    def __init__(self, first, last):
        self.first = first
        self.last = last
        
    # creating a property which is a method but is accessed like an attribute
    @property
    def full_name(self):
        return f"{self.first} {self.last}"
    
    
    # creating the deleter which will delete other attributes for the object
    @full_name.deleter
    def full_name(self):
        self.first = None
        self.last = None
        

# creating object which has a property of full_name = Patrick Weatherford
p1 = Person('Patrick', 'Weatherford')
print(f"{p1.first}\n{p1.last}\n{p1.full_name}\n")


# execute deleter on full_name to remove first, last, and full_name for the object
del p1.full_name
print(f"{p1.first}\n{p1.last}\n{p1.full_name}\n\n")

Patrick
Weatherford
Patrick Weatherford

None
None
None None

<hr style="border:dotted 1px"><br>
<a id="_inheritance_&_subclasses"></a>

### <span style="color:#c58fff">Inheritance & Subclasses</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

In [40]:
class Person:
    
    raise_amt = 1.00
    
    # class instance creation blueprint
    def __init__(self, first, last, dob_str):
        self.first = first
        self.last = last
        self.dob_str = dob_str
        
        
class Job(Person):
    
    raise_amt = 1.05    
    
    def __init__(self, first, last, dob_str, pay=None, title=None):
        super().__init__(first, last, dob_str)
        self.pay = int(pay)
        self.title = title
        

p1 = Job('Patrick', 'Weatherford', '10/18/1989', '20000', ['BI Developer', 'Super Dad'])
p2 = Job('Leigha', 'Weatherford', '10/04/1989', '30000', ['Loan Officer Asst.', 'Super Mom'])


print(f"First\t\tLast\t\tDOB\t\tPay\tRaise amt.\tTitle")
print(f"{p1.first}\t\t{p1.last}\t{p1.dob_str}\t{p1.pay}\t{p1.raise_amt}\t\t{p1.title}")
print(f"{p2.first}\t\t{p2.last}\t{p2.dob_str}\t{p2.pay}\t{p2.raise_amt}\t\t{p2.title}")

First		Last		DOB		Pay	Raise amt.	Title
Patrick		Weatherford	10/18/1989	20000	1.05		['BI Developer', 'Super Dad']
Leigha		Weatherford	10/04/1989	30000	1.05		['Loan Officer Asst.', 'Super Mom']

<hr style="border:dotted 1px"><br>
<a id="_method_resolution_order"></a>

### <span style="color:#c58fff">Method Resolution Order (MRO)</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_classes_2)

Good YouTube video explaining MRO: <a id="https://www.youtube.com/watch?v=7XXR3s_fYU8"><span style="color:#6185c9">MRO YouTube Video</span></a>

In [51]:
class A:
    def count():
        return 1
    
class B(A):
    pass
    
class C(A):
    def count():
        return 4
    
class C2():
    def count():
        return 10

class D(A,C2):
    pass

print(f"A.count() = {A.count()}")  # Class has count() method so will use the current class
print(f"B.count() = {B.count()}")  # Class does not have count() method so will search for inherited class A next
print(f"C.count() = {C.count()}")  # Class has count() method so will use the current class
print(f"C2.count() = {C2.count()}")  # Class has count() method so will use the current class
print(f"D.count() = {D.count()}")  # Class does not have count() method so will search for class A first since it is first in the parameter arguments, then class C2

print('\n')

# To see the MRO for an object or class, simply use the mro method.
sep = '-'
print(f"MRO for Class D:\n{sep*30}\nMRO#\tClass/Object")
rank = 1
for elem in D.__mro__:
    print(f"{rank}: \t{elem}")
    rank += 1

A.count() = 1
B.count() = 1
C.count() = 4
C2.count() = 10
D.count() = 1


MRO for Class D:
------------------------------
MRO#	Class/Object
1: 	<class '__main__.D'>
2: 	<class '__main__.A'>
3: 	<class '__main__.C2'>
4: 	<class 'object'>

<hr style="border:dotted 1px"><br>
<a id="_creating_dataframe"></a>

### <span style="color:#c58fff">Creating DataFrame</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_pandas2)

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [23]:
import pandas as pd
import pydataset
import numpy as np

<br><br>

Creating DataFrame from Dictionary object

In [7]:

df_dict = {
    'ID':[1,2,3,4,5]
    , 'FIRST_NAME':['Patrick','Leigha','Blake','Pepper','Gizmo']
    , 'DOB_STR':['10/18/1989','10/04/1989','03/15/2021','11/1/2021','8/1/2018']
}

# Creating DataFrame out of dictionary and setting ID column as index during the process.
df = pd.DataFrame(df_dict).set_index('ID')

df

   FIRST_NAME     DOB_STR
ID
1     Patrick  10/18/1989
2      Leigha  10/04/1989
3       Blake  03/15/2021
4      Pepper   11/1/2021
5       Gizmo    8/1/2018

<br><br>

Creating date range index and randome values DataFrame with Pandas

In [22]:
date_index = pd.date_range('20220101', periods=6, freq='D')

date_index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df = pd.DataFrame(np.random.randn(6, 4), index=date_index, columns=list("ABCD"))

df

                   A         B         C         D
2022-01-01 -1.125655  0.145105  2.165252 -3.527838
2022-01-02 -1.101482  0.330960  0.279809 -1.987861
2022-01-03  0.736393  0.064913  1.279867  0.919546
2022-01-04 -0.054560 -0.106697 -1.284672 -0.151294
2022-01-05 -0.340155  0.174428 -0.004678  0.500782
2022-01-06  0.099430 -0.030759 -2.043988  0.979989

<br><br>

Viewing DataFrame index using the .index attribute.

In [25]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

<br><br>

Creating DataFrame from existing DataSet

In [15]:
iris_df = pd.DataFrame(pydataset.data('iris'))

iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

<br><br>

Getting simple statistics for DataFrame using the .describe() method.

In [26]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.297672  0.096325  0.065265 -0.544446
std    0.723817  0.156133  1.562524  1.827475
min   -1.125655 -0.106697 -2.043988 -3.527838
25%   -0.911150 -0.006841 -0.964674 -1.528719
50%   -0.197358  0.105009  0.137566  0.174744
75%    0.060932  0.167097  1.029852  0.814855
max    0.736393  0.330960  2.165252  0.979989

<hr style="border:dotted 1px"><br>
<a id="_manipulating_dataframe"></a>

### <span style="color:#c58fff">Manipulating DataFrame</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_pandas2)

<br>

Loading Iris Data Set

In [28]:
iris_df = pd.DataFrame(pydataset.data('iris'))

iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

<br><a id="_selecting_data_pd"></a>

#### <span style="color:white">Selecting Data</span> [<span style="color:#6185c9;font-size:10px">(*Home*)</span>](#_pandas2)

<br>

Putting column(s) within double brackets [[*col_names*]] will select columns as a DataFrame.

In [44]:
iris_df[['Species', 'Petal.Length']].head()

  Species  Petal.Length
1  setosa           1.4
2  setosa           1.4
3  setosa           1.3
4  setosa           1.5
5  setosa           1.4

<br>

Putting single column name in single brackets [*col_name*] will create a series.

In [35]:
iris_df['Species'].head()

1    setosa
2    setosa
3    setosa
4    setosa
5    setosa
Name: Species, dtype: object

<br>

Putting index range in single brackets [*index_range*] will slice by row index number.

In [42]:
iris_df[0:5]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

<br><br>

Selecting row(s) by label using .loc[ *label* ]. Selecting single row will output a cross-section of the row. Selecting multiple rows will output a DataFrame.

In [69]:
# DataFrame
# !! Advise !! Index labels are a list of numbers which starts at 1. (not to be confused with the index starting at 0)
iris_df.loc[1:2]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa

In [70]:
# Cross-Section of row
# !! Advise !! Index labels are a list of numbers which starts at 1. (not to be confused with the index starting at 0)
iris_df.loc[1]

Sepal.Length       5.1
Sepal.Width        3.5
Petal.Length       1.4
Petal.Width        0.2
Species         setosa
Name: 1, dtype: object

<br>

Selecting rows & columns by label using .loc[ *label* ].

In [55]:
iris_df.loc[1:3,['Species', 'Petal.Width']]

  Species  Petal.Width
1  setosa          0.2
2  setosa          0.2
3  setosa          0.2

For getting scalar (single) value, use .at[ *label* ] for performance boost but you can also use .loc[ *label* ] as well.

In [59]:
# Best method (fastest)!
iris_df.at[1, 'Sepal.Width']

3.5

In [60]:
# Can also use .loc[]
iris_df.loc[1, 'Sepal.Width']

3.5

<br><br>

Selecting row(s) by index position using .iloc[ *index_pos* ]. Selecting single row will output a cross-section of the row. Selecting multiple rows will output a DataFrame.

In [73]:
# Cross-section output since single row selected
iris_df.iloc[0]

Sepal.Length       5.1
Sepal.Width        3.5
Petal.Length       1.4
Petal.Width        0.2
Species         setosa
Name: 1, dtype: object

In [72]:
# DataFrame output since multiple rows selected.
iris_df.iloc[0:3]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

<br><br>

Selecting rows/columns by position using .iloc[ *index_pos* ].

In [76]:
iris_df.iloc[0:3, 3:5]

   Petal.Width Species
1          0.2  setosa
2          0.2  setosa
3          0.2  setosa

For getting scalar (single) value, use .iat[ *label* ] for performance boost but you can also use .iloc[ *label* ] as well.

In [79]:
# Best method (fastest)!
iris_df.iat[0,0]

5.1

In [80]:
# Can also use .iloc[]
iris_df.iloc[0,0]

5.1